apiVersion: v1
kind: Service
metadata:
  name: ichor-service
  namespace: ichor-system

spec:
  type: ClusterIP

  ports:
    - name: ichor
      port: 8080
      targetPort: ichor
    - name: ichor-debug
      port: 8090
      targetPort: ichor-debug
    - name: metrics
      port: 5000
      targetPort: metrics
    - name: metrics-debug
      port: 5010
      targetPort: metrics-debug
    - name: prometheus
      port: 5020
      targetPort: metrics-prom
